<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Anagram Engine</title>
</head>
<body>
{% if user %}
<div id="header">
    <p>Hello {{ user.email() }} welcome to the application</p>
    <p>You can <a href='{{ url }}'>{{ url_string }}</a> here</p>
    <br/>
    <h1>Add Word</h1><br/><a href="/add">here</a>
    <br/>
    <h1>Search</h1>
    <form action="/" method="get">
        <td><input name="word_name" pattern="[A-Za-z]" required type="text" value=""/>
        <td><input name="button" type="submit" value="Search"/>
    </form>
    {% else %}
    <p>Hello guest!</p>
    <p>Please <a href='{{ url }}'>{{ url_string }}</a> to continue</p>
</div>
{% endif %}
</body>
</html>